In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/andhra-pradesh-assembly-elections-2014-and-2019/data.csv

In [2]:
data = pd.read_csv('/kaggle/input/andhra-pradesh-assembly-elections-2014-and-2019/data.csv', encoding = "ISO-8859-1")

data.head(10)

,year,state,ac_number,ac_name,candidate_name,sex,age,category,party,symbol,general,postal,total,percentage_votes_polled,total_electors
0,2014,Andhra Pradesh,1,Ichchapuram,GANAPA VANAJAKSHI,FEMALE,31.0,GENERAL,IND,Ring,613,4.0,617,0.357841,247941
1,2014,Andhra Pradesh,1,Ichchapuram,NOTA,NaN,NaN,NaN,NOTA,NOTA,3872,8.0,3880,2.250280,247941
2,2014,Andhra Pradesh,1,Ichchapuram,ESWARA RAO KOLLI,MALE,50.0,GENERAL,INC,Hand,2100,38.0,2138,1.239974,247941
3,2014,Andhra Pradesh,1,Ichchapuram,DASARI RAJU,MALE,42.0,GENERAL,JnP,Glass Tumbler,10940,183.0,11123,6.450996,247941
4,2014,Andhra Pradesh,1,Ichchapuram,JANNALA SURYAVARA PRASADA RAO,MALE,67.0,GENERAL,BJP,Lotus,1656,170.0,1826,1.059023,247941
5,2014,Andhra Pradesh,1,Ichchapuram,ASHOK BENDALAM,MALE,37.0,GENERAL,TDP,Bicycle,79405,587.0,79992,46.392883,247941
6,2014,Andhra Pradesh,1,Ichchapuram,PIRIYA SAIRAJ,MALE,42.0,GENERAL,YSRCP,Ceiling Fan,71931,916.0,72847,42.249004,247941
7,2019,Andhra Pradesh,1,Ichchapuram,GANAPA VANAJAKSHI,FEMALE,31.0,GENERAL,IND,Ring,613,4.0,617,0.357841,247941
8,2019,Andhra Pradesh,1,Ichchapuram,NOTA,NaN,NaN,NaN,NOTA,NOTA,3872,8.0,3880,2.250280,247941
9,2019,Andhra Pradesh,1,Ichchapuram,ESWARA RAO KOLLI,MALE,50.0,GENERAL,INC,Hand,2100,38.0,2138,1.239974,247941

In [3]:
data = data.drop(['state'],axis=1)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4586 entries, 0 to 4585
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   year                     4586 non-null   int64
 1   ac_number                4586 non-null   int64
 2   ac_name                  4586 non-null   object
 3   candidate_name           4586 non-null   object
 4   sex                      4236 non-null   object
 5   age                      4236 non-null   float64
 6   category                 4236 non-null   object
 7   party                    4586 non-null   object
 8   symbol                   4586 non-null   object
 9   general                  4586 non-null   int64
 10  postal                   2658 non-null   float64
 11  total                    4586 non-null   int64
 12  percentage_votes_polled  4586 non-null   float64
 13  total_electors           4586 non-null   int64
dtypes: float64(3), int64(5), object(6)
memory usage: 501.7+ KB

In [5]:
data.shape

(4586, 14)

In [6]:
data.tail()

,year,ac_number,ac_name,candidate_name,sex,age,category,party,symbol,general,postal,total,percentage_votes_polled,total_electors
4581,2019,175,Kuppam,N.S. Thulasinath,MALE,40.0,GENERAL,BJP,Lotus,1122,17.0,1139,0.627552,213329
4582,2019,175,Kuppam,Nara Chandra Babu Naidu,MALE,68.0,GENERAL,TDP,Bicycle,99657,489.0,100146,55.177164,213329
4583,2019,175,Kuppam,Krishna Chandra Mouli,MALE,65.0,GENERAL,YSRCP,Ceiling Fan,69251,173.0,69424,38.250348,213329
4584,2019,175,Kuppam,C. Ganesh,MALE,37.0,SC,VCK,Stool,660,1.0,661,0.364189,213329
4585,2019,175,Kuppam,S. Sathish,MALE,32.0,GENERAL,IND,Bat,486,1.0,487,0.268321,213329

Lets see the distinct values for the year column

In [7]:
data['year'].value_counts()

2014    2293
2019    2293
Name: year, dtype: int64

Lets separate 2014 data and 2019 data into two seperate dataframes

In [8]:
data_2014 = data[data['year']==2014]
data_2019 = data[data['year']==2019]

In [9]:
data_2014.shape

(2293, 14)

In [10]:
data_2019.shape

(2293, 14)

In [11]:
data_2014.head()

,year,ac_number,ac_name,candidate_name,sex,age,category,party,symbol,general,postal,total,percentage_votes_polled,total_electors
0,2014,1,Ichchapuram,GANAPA VANAJAKSHI,FEMALE,31.0,GENERAL,IND,Ring,613,4.0,617,0.357841,247941
1,2014,1,Ichchapuram,NOTA,NaN,NaN,NaN,NOTA,NOTA,3872,8.0,3880,2.250280,247941
2,2014,1,Ichchapuram,ESWARA RAO KOLLI,MALE,50.0,GENERAL,INC,Hand,2100,38.0,2138,1.239974,247941
3,2014,1,Ichchapuram,DASARI RAJU,MALE,42.0,GENERAL,JnP,Glass Tumbler,10940,183.0,11123,6.450996,247941
4,2014,1,Ichchapuram,JANNALA SURYAVARA PRASADA RAO,MALE,67.0,GENERAL,BJP,Lotus,1656,170.0,1826,1.059023,247941

In [12]:
describe = data_2014.describe().T
describe.style.background_gradient(cmap = "YlOrRd")

Percentage of Missing values

In [13]:
Total = data_2014.isnull().sum().sort_values(ascending=False)

In [14]:
Percent = (data_2014.isnull().sum()*100/data_2014.isnull().count()).sort_values(ascending=False)

In [15]:
missing_data_2014 = pd.concat([Total, Percent], axis = 1, keys = ['Total', 'Percentage of Missing Values'])    
missing_data_2014.style.background_gradient(cmap="Oranges")

In [16]:
data_2014.columns

Index(['year', 'ac_number', 'ac_name', 'candidate_name', 'sex', 'age',
       'category', 'party', 'symbol', 'general', 'postal', 'total',
       'percentage_votes_polled', 'total_electors'],
      dtype='object')

In [17]:
data_2014[data_2014['category'].isnull()]

,year,ac_number,ac_name,candidate_name,sex,age,category,party,symbol,general,postal,total,percentage_votes_polled,total_electors
1,2014,1,Ichchapuram,NOTA,NaN,NaN,NaN,NOTA,NOTA,3872,8.0,3880,2.250280,247941
17,2014,2,Palasa,NOTA,NaN,NaN,NaN,NOTA,NOTA,3034,10.0,3044,2.020028,206799
35,2014,3,Tekkali,NOTA,NaN,NaN,NaN,NOTA,NOTA,2929,6.0,2935,1.662108,224852
54,2014,4,Pathapatnam,NOTA,NaN,NaN,NaN,NOTA,NOTA,4202,15.0,4217,2.763452,217897
72,2014,5,Srikakulam,NOTA,NaN,NaN,NaN,NOTA,NOTA,3063,19.0,3082,1.738326,256243
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4477,2014,171,Gangadhara Nellore,NOTA,NaN,NaN,NaN,NOTA,NOTA,2824,5.0,2829,1.638357,199874
4504,2014,172,Chittoor,NOTA,NaN,NaN,NaN,NOTA,NOTA,1335,5.0,1340,0.884197,193904
4527,2014,173,Puthalapattu,NOTA,NaN,NaN,NaN,NOTA,NOTA,2100,3.0,2103,1.125092,216240
4548,2014,174,Palamaner,NOTA,NaN,NaN,NaN,NOTA,NOTA,2559,2.0,2561,1.169636,256090
4568,2014,175,Kuppam,NOTA,NaN,NaN,NaN,NOTA,NOTA,2903,2.0,2905,1.600560,213329